$base: 'vint';

$html-background-color: rgba(0,0,0,0.06);

// local
// $color-primary: #3F51B5;
// $color-primary-dark: #303F9F;
// $color-primary-light: #C5CAE9;
// $color-accent: #FF4081;

// cloud
$color-primary: #673AB7;
$color-primary-dark: #512DA8;
$color-primary-light: #D1C4E9;
$color-accent: #FF4081;
$color-red-a200: #FF5252;
$color-green-a200: #69F0AE;
$color-yellow-a200: #FFFF00;
$color-text-primary: rgba(0,0,0,0.7);
$color-text-secondary: rgba(0,0,0,0.54);
$color-text-dark-background: rgba(255,255,255,0.87);
$color-light-blue: #03A9F4;
$color-red-a500: #F44336;
$color-red-light: #FFCDD2;
$color-amber-a500: #FFC107;
$color-amber-light: #FFECB3;
$color-amber-50: #FFF8E1;
$color-red-50: #FFEBEE;

$font-family-main: "Roboto","Helvetica","Arial",sans-serif;
$font-family-title: $font-family-main;

$dp2: 2px;
$dp4: 4px;
$dp6: 6px;
$dp8: 8px;
$dp12: 12px;
$dp14: 14px;
$dp16: 16px;
$dp18: 18px;
$dp20: 20px;
$dp22: 22px;
$dp24: 24px;
$dp30: 30px;
$dp32: 32px;