.#{ $base } {
  @at-root &-grid {
    max-width: 900px;
    @at-root &--paper {
      background-color: white;
      padding-left: 32px;
      padding-right: 32px;
    }
    @at-root &--form {
      max-width: 460px!important;
    }
  }
}

.vint-grid--stepper {
  & .mdl-stepper {
    margin-left: auto;
    margin-right: auto;
  }
}

.vint-grid--settings {
  max-width: 900px!important;
}